			.b {
				display: inline-block;
				
				width: 40px;
				text-align: center;
				margin-right: 10px;
				border: 1px solid rgb(215, 215, 215);
				margin-top:10px;
				line-height: normal;
			}
			.i {
				padding: 5px;
			}
			.c{
				height: 20px;
				border: medium none;
				background: rgb(236, 236, 236) none repeat scroll 0% 0%;
				width: 38px;
				overflow: hidden;
				resize: none;
				outline: medium none;
				font-weight: bold;
				text-align: center;
				font-size: 1.1em;
				clear: both;
				padding-top: 3px;
				margin: 0;
				transition: all .4s ease;
                -ms-transition: all .4s ease;
                -webkit-transition: all .4s ease;
                -moz-transition: all .4s ease;
			}
			textarea:focus{
				background:#E1E7F2;
			}
			
			#wrap{
				padding-bottom:20px;
			}

			.white-box{
				background:#fff;
				text-align:center;
			}
			.paragraph{
				text-align: justify;
				line-height: 1.75em;
			}
